*{
  font-family: 'Rakkas';
  text-align: center;
}
.logo{
  height: 30%;
}

.input{
  border: solid #EC6808 3px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #979494;
  border-radius: 50px;
  font-size: 18px;
}

.button{
  border-radius: 50px;
  background-color: #EC6808;
  color: #FFFFFF;
  font-weight: bold;
}

.errorEmail{
  color: red;
}

.goodEmail{
  color: green;
}

.text{
  font-weight: bold;
  color: #EC6808;
  margin: 20px;
  font-size: 22px;
}
