<ion-content>
  <ion-row class="logo">
    <ion-col size="8" offset="2" class="ion-align-self-center" >
      <img src="assets/img/logo.png" alt="logo">
    </ion-col>
  </ion-row>
  <ion-row class="form">
    <ion-col size="12">
      <ion-row>
        <ion-col size="6">
          <ion-item class="link">
            <img src="assets/icon/user.svg" alt="logo" id="icon">
            <ion-label type="text" class="text"> Connexion </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="link">
            <img src="assets/icon/add-user.svg" alt="logo" id="icon">
            <ion-label type="text" class="text"> Inscription </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-item class="input">
       <ion-input placeholder="Adresse e-mail" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item class="input">
       <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password" ></ion-input>
      </ion-item>
      <p id="text">Mot de passe oublié?</p>
    </ion-col>

    <ion-col size="6" offset="3" class="ion-align-self-center" >
      <ion-button  class="button" color="#EC6808" shape="round" (click)="validate()">Connexion</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
