*{
  font-family: 'Rakkas';
}

.header{
  height: 10%;
  margin-top: 20px;
  padding-right: 10px;
  left: 0;
}

#logo{
  height: 50px;
  width: 120px;
}

#menu{
  width: 40px;
  height: 40px;
  float: right;
}
