*{
  font-family: 'Rakkas';
}

.header{
  padding: 0;
  background-color: white;
}

#logo{
  height: 50px;
  width: 120px;
}

#menu{
  width: 40px;
  height: 40px;
  float: right;
}

.title{
  font-weight: bold;
  padding-top: 0;
}

#icon{

  width: 50px;
  height: 50px;
}

#label{
 font-size: 18px;
 width: fit-content;
 text-align: center;
 height: auto;
 padding: 10px;
}

.video{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 5px;
}

#item{
  border: #EC6808 solid 3px;
  border-radius: 25px;
  height: 150px;

}

